body{
    background-color:#4f4c5c ;
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
	display: flex;
	align-items:center;
	height:5vw;
    width:100%;
	background-color:#413961;
	margin-bottom: 5vh;
    position:fixed;
    top:0px;
    z-index:3;
}
#logo-img{
    height:97%;
    width:auto;
    position:absolute;
    left:0.5vw;
}
#logo{
    text-decoration:solid ;
    color: aliceblue;
    position:absolute;
    left:8vw;
    font-size: 2.5vw;
}
#nav-bar{
	display: flex;
    position:absolute;
    right:2vw;
    list-style: none;
}
#nav-items{
	margin-right:2vw;
	font-family:myriad pro regular;
	color:#ffffff;
	font-size: 2vw;
	font-weight:700;
    text-decoration: none;
    border-radius: 10%;
    padding:5px;
}
#nav-items:hover{
    background-color: aliceblue;
    color: #413961;
}

main{
    margin-top: 10vw;
}
#banner{
    height: auto;
    width: 100%;
}
section{
    width: 100%;
    height:45vw;
}
.block {
  border-radius:20px;
}
.container  {
    text-align: center;
    display:flex;
    justify-content: space-evenly;
}
.head{
    text-align: center;
    font-size: 4vw;
    color: rgb(30, 11, 51);
    border: #ffffff;
}
.home_pics{
    height: 25vw;
    width: 25vw;
    border-radius:7px;
}
.txt{
    color: aliceblue;
    font-size: 2.5vw;
    text-decoration: none;
    margin-top: 2vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.txt:hover{
    background-color: rgba(240, 248, 255, 0.384);
    color:#4f4c5c;
    font-size: 3vw;
}

#response {
    margin: 0 10% 10% 10%;
    display:grid;
} 
#commentform{
    display:grid;
    row-gap:2vw;
}
#response input[type='text'],
#response input[type='email'],
#response textarea {
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    line-height: 2vw;
}
.response_head{   
    color:rgb(30, 11, 51);
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    justify-self: center;
}
form label{
    color: aliceblue;
    font-size: 2.3vw;
}
#submit{
    justify-self: center;
    font-size: 2vw;
    border-radius: 5px;
    width:25vw;
}
#submit:hover{
    width:30vw;
    height:5vw;
}
.thnx{
    text-align: center;
    margin-top: 50px;
    font-size: 4vw;
    color: rgb(30, 11, 51);
}
.thank{
    text-align: center;
    color: antiquewhite;
    margin-left: 46%;
}
.tha{
    text-align: center;
}