body{
    background-color:#4f4c5c ;
    margin:0px;
    padding: 0px;
}
#banner{
    height: auto;
    width: 100%;
}
.block {
  display: inline-block;
  width: 400px;
  height: 350px;
  border-radius:20px;
  margin: 10px;
  box-shadow: #4f4c5c;
}
.container  {
  text-align: center;
}
ul{
    list-style: none;
}
.logo{
    text-decoration:solid ;
    color: aliceblue;
}
section{
    width: 100%;
    height:95vh;
	background-size:cover;
	background-repeat:no-repeat;
	position: relative;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items:center;
	height:60px;
	background-color:#413961;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	padding:0px 5%;
	
}
nav ul{
	display: flex;
}
.toggle{
	display: none;
}
 
nav ul li a{
	margin:30px;
	font-family:myriad pro regular;
	color:#ffffff;
	font-size: 15px;
	font-weight:700;
    text-decoration: none;
}
.home_pics{
    height: 100%;
    width: 100%;
    border-radius:7px;
}
.txt{
    color: aliceblue;
    border: #4f4c5c;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.head{
    text-align: center;
    font-size: 60px;
    color: rgb(30, 11, 51);
    border: #ffffff;
}
#respond {
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 20%;
}
  
#respond input[type='text'],
#respond input[type='email'],
#respond textarea {
    margin-bottom: 10px;
    display: block;
    width: 100%;
  
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
  
    line-height: 1.4em;
}
.pp{
    color:rgb(30, 11, 51);
    font-size: 30px;
}
form label{
    color: aliceblue;
    font-size: 15px;
}
.txt:hover{
    text-decoration: underline;
}
nav ul li a:hover{
    text-decoration: underline;
}
.heads{
    margin-left: 150px;
    font-size: 60px;
    color: rgb(30, 11, 51);
    border: #ffffff;
}