body{
    background-color:#4f4c5c ;
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
nav {
	display: flex;
	align-items:center;
	height:5vw;
    width:100%;
	background-color:#413961;
	margin-bottom: 5vh;
    position:fixed;
    top:0px;
    z-index:3;
}
#logo-img{
    height:97%;
    width:auto;
    position:absolute;
    left:0.5vw;
}
#logo{
    text-decoration:solid ;
    color: aliceblue;
    position:absolute;
    left:8vw;
    font-size: 2.5vw;
}
#nav-bar{
	display: flex;
    position:absolute;
    right:2vw;
}
#nav-items{
	margin-right:2vw;
	font-family:myriad pro regular;
	color:#ffffff;
	font-size: 2vw;
	font-weight:700;
    text-decoration: none;
    border-radius: 10%;
    padding:5px;
}
#nav-items:hover{
    background-color: aliceblue;
    color: #413961;
}
main{
    margin-top: 10vw;
}
section{
    width: 100%;
    height:95vh;
	background-size:cover;
	background-repeat:no-repeat;
	position: relative;
}
#banner{
    height: auto;
    width: 100%;
}
.block {
  display: inline-block;
  width: 400px;
  height: 350px;
  border-radius:20px;
  margin: 10px;
  box-shadow: #4f4c5c;
}
.container  {
  text-align: center;
}
ul{
    list-style: none;
}
.home_pics{
    height: 100%;
    width: 100%;
    border-radius:7px;
}
.txt{
    color: aliceblue;
    border: #4f4c5c;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.head{
    text-align: center;
    font-size: 60px;
    color: rgb(30, 11, 51);
    border: #ffffff;
}
#respond {
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 20%;
}
  
#respond input[type='text'],
#respond input[type='email'],
#respond textarea {
    margin-bottom: 10px;
    display: block;
    width: 100%;
  
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
  
    line-height: 1.4em;
}
.pp{
    color:rgb(30, 11, 51);
    font-size: 30px;
}
form label{
    color: aliceblue;
    font-size: 15px;
}
.txt:hover{
    text-decoration: underline;
}
nav ul li a:hover{
    text-decoration: underline;
}
.heads{
    margin-left: 150px;
    font-size: 60px;
    color: rgb(30, 11, 51);
    border: #ffffff;
}